html {
  height: 100%;
  width: 100%;
}
body {
  background-color: darkgray;
}
h1  {
  color: white;
  text-align: center;
}
p {
  font-family: 'Courier New', Courier, monospace;
  text-align: left;
  color: black;
  font-size: 22px;
}

