html {
  height: 50%;
  width: 50%;
}

body {
  background-color: #53d5fd;
}

h1 {
  color:white;
  text-align: center;
}
p {font-family: 'Courier New',  monospace;}

table {
  color:white;
  text-align: center;
}

a href {
  color:white
}

{
}
