html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #d7aeea;
}

h1 {
  font-family: 'Courier New', Courier, monospace;
  background-color: white;
  color: lightgreen;
  text-align: center;
}

h2{
  font-family: 'Courier New', Courier, monospace;
  color: lightgreen;
}

h3{
  font-family: 'Courier New', Courier, monospace;
  color: lightgreen;
}

p {
  font-family: courier;
  font-size: 20px;
  color: white;
}

img {
  width:200px;
  height:auto;
}

table{
  font-family:'Courier New', Courier, monospace;
  color: white;
}

a{
  font-family: 'Courier New', Courier, monospace;
  color: white;
}