html {
  height: 100%;
  width: 100%;
}

body {
  background-color: cyan;
}

h1 {
  color: black;
  text-align: center;
  text-decoration: underline;
}

p {
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
}

table,
th,
td {
  padding: 10px;
  border: 1px solid black;
  border-collapse: collapse;
}

td {
  text-align: center
}