html {
  height: 100%;
  width: 100%;
}

body {
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #d5bed5;
  text-align:left;
 }
 
h1 {
 color: hotpink;
 text-align: center;
}

p {
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 font-size: 20px;
}

